{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block strit %}
<div class="features">
    <h1>Про меня</h1>
    <p>Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет выполнять
        важные задания по разработке существенных финансовых и административных условий. Равным образом рамки и место
        обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.</p>
    <button class="btn btn-danger"> На страницу про нас</button>
</div>
{% endblock %}